# виртуальное окружение
.venv/

# кэш python
__pycache__/
*.pyc

# дистрибутивы
dist/
build/

# IDE
.vscode/
.idea/

# временные файлы
*.log
*.tmp

# данные по проекту
data/*.json

# не коммитить runtime-файлы
logs/
